.button-select-blue {
  background-color: #0083c4;
  color: white;
}

.button-select-blue:hover {
  background-color: #006090;
}

.button-select-yellow {
  background-color: #ff9800;
  color: white;
}

.button-select-yellow:hover {
  background-color: #ea8c00;
  cursor: pointer;
}

.button-select-red {
  background-color: #ff1645;
  color: white;
}

.button-select-red:hover {
  background-color: #c81035;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
}

.button-container {
  width: 30%;
}

.buton-redirectionare {
  width: 100%;
  border: 0px;
  border-radius: 50px 0 50px 0;
  cursor: pointer;
}

.content {
  background-color: rgb(230, 230, 230);
  border-radius: 10px 0 10px 0;
  text-align: center;
  display: none;
}

.link-container {
  padding: 0.5rem;
  cursor: pointer;
}

.link-container a {
  color: #0050a9;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 990px) {
  .buttons-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .button-container {
    width: 100%;
  }
}
