.card {
  border: 0px solid #0083c4 !important;
  border-radius: 0 !important;
  margin: 0.5rem;
  overflow: hidden;
  background-color: rgb(240, 240, 240);
  flex-direction: row;
  align-items: center;
}

.imgBox {
  object-fit: contain;
  width: 40%;
  margin: 0;
}

.card-body {
  width: 60%;
  padding: 0.5rem;
}

.card:hover {
  color: #0083c4;
  text-decoration: none !important;
}

.btn-campanie {
  border: 0px solid red;
  background-color: transparent;
  color: #0083c4;
  padding: 0;
}

.btn-campanie:hover {
  background-color: transparent;
  color: #0083c4;
  padding: 0;

}

.btn-campanie:active {
  background-color: transparent !important;
  color: #004a6f !important;
  padding: 0;
}
