.doneaza-titlu {
  display: flex;
  justify-content: space-between;
}

.doneaza-titlu .title {
  font-size: 55px;
}

.wrapper {
  width: 50%;
}

.section {
  margin: 0 1rem;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgb(230, 230, 230);
  transition: box-shadow 0.3s ease-in-out;
  padding: 1.5rem;
  height: 100%;
}

.section:hover {
  box-shadow: 0 20px 16px rgba(0, 0, 0, 0.2);
}

.datepersonale * {
  display: block;
}

.btn-donatie {
  border-radius: 0;
  margin: 0;
  background-color: white;
  color: #000000;
  border: none;
}

.btn-check:checked + .btn-donatie,
:not(.btn-check) + .btn-donatie:active,
.btn-donatie:first-child:active {
  background-color: #0083c4 !important;
}

.btn-donatie:hover {
  background-color: #0083c4;
  color: white;
}

.action-button {
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 40px 0 40px 0;
  height: 30px;
  width: 25%;
  padding-top: 1px;
  background-color: #0083c4;
  border: 0;
  font-size: 18px;
}

.define-button {
  text-align: center;
  color: white;
  border-radius: 40px 0 40px 0;
  background-color: #0083c4;
  border: 0;
  font-size: 16px;
  padding: 0 1rem;
}

.euplatesc2 {
  display: none;
}

.euplatesc1 img {
  height: 90%;
}

@media only screen and (max-width: 990px) {
  .doneaza-titlu .title {
    font-size: 40px;
  }
  .euplatesc1 {
    display: none;
  }
  .euplatesc2 {
    display: flex;
    justify-content: center;
  }
  .wrapper {
    width: 100%;
  }
  .section {
    height: auto;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .w-section-2{
    margin-top: 1rem;
  }

  .action-button {
    width: 50%;
  }
}
