.wrapper {
  width: 50%;
}

.section {
  margin: 1rem;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgb(230, 230, 230);
  transition: box-shadow 0.3s ease-in-out;
  padding: 1.5rem;
  height: 450px;
}

.section:hover {
  box-shadow: 0 20px 16px rgba(0, 0, 0, 0.2);
}

.donatia-ta-section:last-child {
  padding-bottom: 1rem;
}

.datepersonale * {
  display: block;
}

.btn-donatie {
  border-radius: 0;
  margin: 0;
  background-color: white;
  color: #000000;
  border: none;
}

.btn-check:checked + .btn-donatie,
:not(.btn-check) + .btn-donatie:active,
.btn-donatie:first-child:active {
  background-color: #0083c4 !important;
}

.btn-donatie:hover {
  background-color: #0083c4;
  color: white;
}

.action-button {
  text-align: center;
  text-decoration: none;
  margin-top: 0.75rem;
  color: white;
  border-radius: 40px 0 40px 0;
  height: 30px;
  width: 30%;
  padding-top: 1px;
  background-color: #0083c4;
  border: 0;
}

.euplatesc2 {
  display: none;
}

@media only screen and (max-width: 990px) {
  .euplatesc1 {
    display: none;
  }
  .euplatesc2 {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  .wrapper {
    width: 100%;
  }
  .section {
    height: auto;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
