.main-event {
  background-color: rgb(240, 240, 240);
  width: 100%;
  height: auto;
  display: flex;
  max-height: 650px;
}

.text-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem;
}

.text-container h1 {
  font-weight: 500;
  width: 700px;
}

.text-container p {
  font-weight: 200;
  width: 700px;
}

.line-container-spacer {
  height: 10%;
  position: relative;
  right: 0;
}

.event-line {
  background-color: red;
  height: 8px;
  width: 150px;
  border-radius: 10px 0 10px 0;
}

@media only screen and (min-width: 990px) and (max-width: 1200px) {
  .main-event {
    height: 420px;
  }

  .text-container h1 {
    width: 350px;
  }

  .text-container p {
    width: 350px;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1399px) {
  .text-container h1 {
    width: 550px;
  }

  .text-container p {
    width: 550px;
  }
}

@media only screen and (max-width: 990px) {
  .line-container-spacer {
    right: 0;
  }
  .text-container {
    margin: 1rem;
    align-items: start;
  }
  .img-container {
    padding: 1rem;
  }
  .main-event {
    flex-direction: column;
  }
}
