/* Media */
.media-holder {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.media-icon-container a img {
  height: 25px;
}

.separator {
  border-top: 1px solid #0083c4;
  height: 0px;
}

/* Footer */

.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
}

.footer-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 30%;
  height: 50px;
}

.footer-link p:hover {
  color: #0083c4;
}

.footer-link img {
  height: 30px;
  margin: 0 0.5rem;
}

.footer-link p {
  color: black;
  text-align: center;
  height: 10px;
}

@media only screen and (max-width: 990px) {
  .footer-container {
    flex-direction: column;
  }
  .footer-link {
    width: 100%;
    justify-content: start;
  }

  .footer-link p {
    text-align: start;
    height: 5px;
  }
}
