.case {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  height: auto;
  overflow: hidden;
}

.case:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#map {
  display: none;
}

#map-button {
  width: 150px;
  border-radius: 30px 0 30px 0;
  background-color: #0083c4;
  border: 0;
  color: white;
}

.form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  height: 900px;
  overflow: hidden;
}

.footer-container {
  display: none;
}