.despre-noi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.despre-noi:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.despre-noi div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  flex-direction: column;
}

.despre-noi p {
  width: 75%;
}

h2 {
  font-weight: 600;
  width: 100%;
}

.despre-noi img {
  max-width: 150px;
}

/* Echipa */

.echipa-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.echipa-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.echipa .person {
  max-width: 200px;
}

/* discipline */

.dis {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  max-width: 30%;
}

@media only screen and (max-width: 990px) {

  .dis{
    max-width: 50%;
  }

  .echipa .person {
    max-width: 150px;
  }

  .despre-noi p {
    width: 90%;
  }

  .col {
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .dis{
    max-width: 100%;
  }
}